#Section-1
{
  margin-top: 15vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: max(50dvh, 328px);
  background-image: url("background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.Section-2 {
  padding: 106px 0 58px 0;
  width: 1440px;
  height: 2400px;
  top: 416px;
  gap: 0px;
  opacity: 0px;
}
.blog-posts__list {
    display: flex;
    flex-direction: column;
    gap: 54px;
    position: relative;
    left: 100px;
}

.blog-posts__item {
    max-width: 817px;
    position: relative;
    left: 100px;
    top: 50px;
    
}

.blog-posts__image {
    margin-bottom: 17px;
    border-radius: 10px;
}

.blog-posts__title {
    margin-bottom: 12px;
    color: #000;
    font-size: 30px;
    font-weight: 500;
}

.blog-posts__text {
    margin-bottom: 30px;
    color: #9f9f9f;
    font-size: 15px;
    line-height: 1.5;
}

.blog-posts__button {
    width: fit-content;
    background-color: transparent;
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.blog-posts__button:hover {
    color: #b88e2f;
}
.blog-posts__button::after {
    width: 100%;
    border-color: #b88e2f;;
}
.blog-posts:after {
      content: '';
      display: block;
      margin: 0 auto;
      padding-top: 12px;
      width: 87%;
      border-bottom: 1px solid black;
      transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: width, border-color;
}

.posts-info {
  display: flex;
  gap: 35px;
  margin-bottom: 15px;
}
.posts-info__item {
    display: flex;
    align-items: center;
    color: #9f9f9f;
}
.posts-info__icon {
    margin-right: 7px;
    width: 20px;
    height: 20px;
}
.blog-extra{
width: 393px;
height: 537px;
top: 200px;
left: 968px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
position: relative;
}
.blog-extra-container {
  max-width: 311px;
  position: relative;
  bottom: 2640px;
  left: 380px;
}
.blog-extra__input-wrapper {
    position: relative;
    margin-bottom: 43px;
    bottom: 2640px;
    left: 350px;
}

.blog-extra__input {
    padding: 10px 50px 10px 20px;
    width: 100%;
    height: 58px;
    border: 1px solid #9f9f9f;
    border-radius: 10px;
    outline: none;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.blog-extra__input:focus {
      box-shadow: rgba(184, 142, 47, 0.5) 0px 0px 0px 2px;
}
.blog-extra__icon {
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

.blog-categories {
  margin-bottom: 118px;
  padding: 0 24px 0 36px;
}
.blog-categories__title {
    margin-bottom: 33px;
    color: #000;
    font-size: 24px;
    font-weight: 500;
}
.blog-categories__list {
    display: flex;
    gap: 41px;
    flex-direction: column;
    color: #9f9f9f;
}

.blog-categories__item {
    display: flex;
    justify-content: space-between;
}
.blog-recent {
  padding: 0 24px 0 36px;
}
.blog-recent__title {
    margin-bottom: 26px;
    color: #000;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.blog-recent__item {
    display: flex;
}
.blog-recent:not(:last-child) {
    margin-bottom: 39px;
}


.blog-recent__image {
    margin-right: 12px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.blog-recent__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #9f9f9f;
    font-size: 12px;
    margin-bottom: 5px;
}
.blog-recent a:hover {
      text-decoration: underline;
      text-decoration-color: #000;
}
.blog-recent__title-post {
    color: #000;
    font-size: 14px;
  }

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  gap: 38px;
}
.pagination__button {
  background-color:#F9F1E7;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
  width: 60px;
  height: 60px;
}
.pagination__button--next {
      width: 98px;
      height: 60px;
      font-weight: 300;
}

.pagination__button--active {
      color: #fff;
      background-color: #b88e2f;
}
.feature
{
  width: 100%;
  padding: 12vh 0 12vh 0;
  display: grid;
  background-color: #FAF3EA;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
}

@media all and (max-width: 960px)
{
  .feature
  {
    justify-items: left;
  }
}

.feature-container
{
  box-sizing: border-box;
  display: inline-grid;
  grid-template-columns: min-content max-content;
  grid-template-rows: auto auto;
  align-items: center;
  float: left;
}
.feature-logo
{
  grid-column: 1;
  grid-row: 1/3;
  padding-right: 5px;
}
.feature-heading
{
  margin: 0;
  grid-column: 2;
  grid-row: 1; 
  font-size: 1rem;
  align-self: flex-end;
}
.feature-description
{
  grid-column: 2;
  grid-row: 2;
  font-size: 0.8rem;
  color: #898989;
  align-self: flex-start;
}
#Shop-box-container
{
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3;
  position: absolute;

}

#Blog-box-logo-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
}
#Blog-heading
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
}
#Blog-nav
{
  display: flex;
  justify-content: center;
  align-items: center;
}