@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Reset styling */

:root {
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --bg-primary: #FFF;
  --bg-secondary: #FFF3E3;
  --bg-tertiary: #B88E2F;
  --tx-primary: #333333;
  --tx-secondary: #B88E2F;
  --tx-tertiary: #FFF;
  --tx-light: #666666;
  --tx-highlight: #FFF;
  --bg-warning: #E97171;
  --bg-accept: #2EC1AC;



  font-size: calc(1rem + 0.25dvw);
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overscroll-behavior: contain;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
}

button:hover, a:hover {
  cursor: pointer;
}

body {
  margin: 0;
}


header {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  align-items: center;
  padding: 1rem 3rem;
  position: fixed;
  top: 0;
  width: 100dvw;
  background-color: white;
  z-index: 100;
}

#page-logo {
  display: flex;
  align-items: center;
  user-select: none;
}

#brand-logo {
  display: flex;
  align-items: center;
}

#brand-name {
  font-family: "Montserrat", sans-serif;
  font-weight: var(--fw-bold);
  margin-block: 0;
}

#page-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#support-nav {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
}

#page-nav-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-block: 0;
}

#support-nav-list {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: right;
  margin-block: 0;
}

#support-nav-list li {
  margin-inline-start: 1rem;
  color: black;
}


#page-nav-list li a,
#support-nav-list li a {
  font-weight: var(--fw-medium);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-nav-list li a:hover,
#support-nav-list li a:hover {
  font-weight: var(--fw-bold);
}

.before-footer {
  margin-top: 12vh;
  margin-bottom: clamp(15px, 7vh, 50px);
}

.after-footer {
  margin-top: clamp(15px, 7vh, 50px);
  margin-bottom: clamp(15px, 7vh, 50px);
  width: 94vw;
}

footer .container {
  width: 90%;
  margin: 0 auto;
  --footer-dist: clamp(15px, 7vh, 50px);
  display: grid;
  grid-template-columns: 3fr 6fr;
}

@media screen and (max-width: 850px) {
  footer {
    grid-template-columns: repeat(auto-fill, minmax(400px, max-content));
  }
}

#footer-heading-1 {
  margin: 0;
}

#footer-address {
  width: min(100%, 350px);
  margin-bottom: var(--footer-dist);
  color: #9F9F9F;
  margin-top: var(--footer-dist);
}

#footer-nav {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, max-content));
  column-gap: min(2vw, 20px);
}

.footer-nav-heading {
  color: #9F9F9F;
  font-weight: var(--fw-semibold);
}

.footer-nav-list {
  margin: 0;
  font-weight: var(--fw-medium);
}

.footer-input,
.footer-nav-list * {
  margin-top: var(--footer-dist);
}

.footer-input,
#footer-subscribe {
  border-style: none;
  border-bottom: 2px solid black;
}

.footer-input {
  padding-right: 1.7vw;
}

#footer-subscribe {
  background-color: white;
  font-weight: var(--fw-semibold);
  padding: 0;
}

#footer-copy-right {
  margin-inline: 3vw;
}